@{
    ViewData["Title"] = "First Page";
}

<div class="text-center">
   <h1>This is first page</h1>
   <div class="container">
        Link to second <a asp-area="" asp-controller="test" asp-action="Second">Second</a>
    </div>
</div>
