@{
    ViewData["Title"] = "Registration";
}
<h1>@ViewData["Title"]</h1>

@model Customer

<form asp-asp-controller="Home" asp-action="RegistrationProcess" method="POST">
    <div class="form-group">
        <span class="text-danger" asp-validation-for="FirstName"></span>
        <br>
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName">

        <span class="text-danger" asp-validation-for="LastName"></span>
        <br>
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName">

        <span class="text-danger" asp-validation-for="Email"></span>
        <br>
        <label asp-for="Email">Email</label>
        <input class="form-control" type="email" asp-for="Email">

        <span class="text-danger" asp-validation-for="Password"></span>
        <br>
        <label asp-for="Password">Password</label>
        <input class="form-control" type="password" asp-for="Password">

        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        <br>
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input class="form-control" type="password" asp-for="ConfirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>