@{
    ViewData["Title"] = "Info";
}

<center>
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <h1>Success</h1>
        </div>
    </div>
</center>

